{% extends 'core/layout.html' %}

{% block content %}
    <main>
        <div class="container-md" style="background-color: #F8F9FA;">
            <br>
            <div class="row g-5 ">
                <div class="col-md-6 offset-md-3">
                    <center> <br><br>
                        <h2>Formulario de Contacto</h2><br>
                        <p>Contáctate con nosotros. Rellena el formulario y uno de nuestros ejecutivos se comunicará con usted :) </p> 

                    </center> 

                    
                    <form>
                        <div class="row g-3">
                            <div class="col-md-12 ">
                                <strong><label>Motivo reclamo</label></strong>
                                <select class="form-select" id="cbxmotivo">

                                    <strong><option value="">Reclamo por atraso </option></strong>
                                    <strong><option value="">Encomienda adulterada o producto golpeado </option></strong>
                                    <strong><option value="">Producto con falla de fábrica </option></strong>
                                    <strong><option value="">Deseo modificar o cambiar mi pedido </option></strong>
                                    <strong><option value="">Otro Motivo </option></strong>

                                </select> 
                            </div>
                            <div class="col-sm-6">
                                <strong><label class="form-label">Nombres</label></strong>
                                <input type="text" class="form-control" id="txtnombre">
                            </div>
                            <div class="col-sm-6">
                                <strong><label class="form-label">Apellidos</label></strong>
                                <input type="text" class="form-control" id="txtapellidos">
                            </div>
                            
                            <div class="col-sm-12">
                                <strong><label class="form-label">Correo Electronico</label></strong>
                                <input type="email" class="form-control" id="txtemail">

                            <div class="col-sm-6">
                                <strong><label class="form-label">N° Orden</label></strong>
                                <input type="text" class="form-control" id="txtcodpostal">
                            </div> <br>
                            <input class="w-20 btn btn-primary btn-lg" type="submit" id="btnenviar2" value="Enviar">
                            <input class="w-20 btn btn-primary btn-lg" type="reset" value="Borrar" id="btnreset">

                        </div>   
                    </form>
                </div> 
            </div>
            <br>  <br>
        </div><hr class="my-1" style="color: slategray;">
  
    </main>
    {% endblock %}